<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>선수정보 조회하기</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
이름 
<input type="text" id="raceDy">
소속
<input type="text" id="meetNo">
<input type="button" value="조회하기" onclick="fn_runnerInfo">
<table>
    <tr>
        <td>선수명</td>
        <td>일자</td>
        <td>회차</td>
        <td>시행처</td>
    </tr>
</table>

</html>
