<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>선수정보 조회하기</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
이름 
<input type="text" id="runnerName">
소속
<input type="text" id="runnerGroup">
<input type="button" value="조회하기" onclick="fn_runnerInfo">
<table>
    <tr>
        <td>이름</td>
        <td>나이</td>
        <td>소속</td>
        <td>몸무게</td>
        <td>키</td>
        <td>승률</td>
    </tr>
</table>

</html>
