<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>고객정보 조회하기</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
이름 
<input type="text">
아이디
<input type="text">
<input type="button" value="조회하기">
<table>
    <tr>
        <td>이름</td>
        <td>아이디</td>
        <td>패스워드</td>
        <td>이메일주소</td>
    </tr>
</table>
</html>

<script>
$(document).ready(function() {
    $('#numberForm').on('submit', function(event) {
        event.preventDefault();
        var number = $('#number').val();

        $.ajax({
            url: '/userInfo',
            method: 'POST',
            data: { number: number },
            success: function(response) {
                alert(response);
            },
            error: function(error) {
                console.log('Error:', error);
                alert('오류가 발생했습니다.');
            }
        });
    });
});
</script>
