<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>승자정보 조회하기</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
일자 
<input type="text" id="raceDy">
고객명
<input type="text" id="userName">
<input type="button" value="조회하기" onclick="fn_winnerInfo()">
<table>
    <tr>
        <td>고객명</td>
        <td>경주번호</td>
        <td>승식</td>
        <td>배팅금액</td>
        <td>배당</td>
        <td>환불금액</td>
    </tr>
</table>

</html>
